* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background: rgb(255, 85, 0);
 color: white;
 text-align: center;
 justify-content: center;
 padding: 20rem;
}

label {
 font-size: 5rem;
}